/*
body {

}
*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 15px;
    position: relative;
    line-height: 2;
    text-align: start; 
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}


.marginAdd {
        display: none;          
}

   /* 
.marginAdd {
    position: relative;
    color: blue;
  
}
*/


.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    position: relative;
    top: -12px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}


.infraAdd {
    position: relative;
    bottom: -8px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}
  

.defaultAdd {
    font-style: italic;
    color: brown;
}

del {
    color: brown;
    text-decoration: line-through; 
    text-decoration-color: black; 
    text-decoration-thickness: 1.2px;
    font-style: italic; 
}

.underline {
    position: relative;
    text-decoration-line: underline; 
    }

.double {
    position: relative;
    text-decoration-line: underline; 
    box-shadow: 0px 1px 0px black, 0px 1px 0px black;
    }

.indented {
    display: inline-block;
    width: 1em;
    }


.circled {
        display: inline-block; /* Ensures the element wraps neatly around the content */
        border: 2px solid black; /* Adjust the thickness and color of the circle */
        border-radius: 50%; /* Makes the border circular */
        padding: 10px; /* Adds space between the number and the circle */
        text-align: center; /* Centers the number inside the circle */
        line-height: 1; /* Ensures proper vertical alignment */
    }
