/*
body {

}
*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 15px;
    position: relative;
    line-height: 2;
    text-align: start; 
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}


.marginAdd {
        display: none;          
}

   /* 
.marginAdd {
    position: relative;
    color: blue;
  
}
*/


.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    position: relative;
    top: -12px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}


.infraAdd {
    position: relative;
    bottom: -8px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}
  

.defaultAdd {
    font-style: italic;
    color: brown;
}

del {
    color: brown;
    text-decoration: line-through; 
    text-decoration-color: gray; 
    text-decoration-thickness: 1.5px;
    font-style: italic; 
}

.underline {
    position: relative;
    text-decoration-line: underline overline; 
    }