body {
    margin: 0 auto; /* Center the text block horizontally */
    max-width: 1200px; /* Optional: Limit the maximum width */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 150%;
}

p {
    text-indent: 15px;
    position: relative;
    line-height: 2;
    text-align: start; 
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

/* margin text  */

.marginAdd {
        display: none;
}


.leftMargin {
    font-size: 80%; 
    }

.mirador-canvas-nav {
    display: none !important;
}

/* add(itions) */

.defaultAdd {
    font-style: italic;
    color: brown;
}

.supraAdd {
    position: relative;
    top: -12px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}

.infraAdd {
    position: relative;
    bottom: -8px;
    font-size: smaller; 
    font-style: italic;
    white-space: nowrap; 
    color: brown;
}
  
del {
    color: brown;
    text-decoration: line-through; 
    text-decoration-color: black; 
    text-decoration-thickness: 1.2px;
    font-style: italic; 
}

/* hi(ghlights) */

.underline {
    position: relative;
    text-decoration-line: underline; 
    }

.double {
    position: relative;
    text-decoration-line: underline; 
    box-shadow: 0px 1px 0px black, 0px 1px 0px black;
    }

.indented {
    display: inline-block;
    width: 1em;
    }

.subscript
{
    position: relative;
    font-size: 65%; 
    text-decoration-line: underline; 
    top: -4px;
}

.circled {
    width: 45px; /* Circle size */
    height: 44px; /* Circle size */
    border: 1px solid black; /* Circle border */
    border-radius: 50%; /* Turns it into a circle */
    font-size:80%; 
    text-align: center; /* Aligns text horizontally */
    line-height: 40px; /* Aligns text vertically within the circle */
    font-weight: bold; /* Makes the number bold */
    }


/* page-number */

.center {
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    margin-top: 10px; /* Space above */
    margin-bottom: 20px; /* Space below */
} 

.left {
    display: flex; /* Enable flexbox for centering */
    justify-content: left; /* Center horizontally */
    margin-top: 20px; /* Space above */
    margin-bottom: 5%; /* Space below */
}

.right {
    display: flex; /* Enable flexbox for centering */
    justify-content: right; /* Center horizontally */
    margin-top: 20px; /* Space above */
    margin-bottom: 5px; /* Space below */
}

